/* Font */
@import url('https://fonts.googleapis.com/css?family=Quicksand:400,700');

.cards-post {
    display: flex;
    flex-wrap: wrap;
    list-style: initial;
    margin: 0;
    /*padding: 0;*/
}

.cards_item {
    display: flex;
    padding: 1rem;
}
.text-posts {
    font-family: "Times New Roman"!important;
}

/* Điều chỉnh cho màn hình nhỏ hơn 40rem */
@media (max-width: 40rem) {
    .cards_item {
        width: 100%; /* Chuyển từ hiển thị 2 cột sang hiển thị 1 cột */
    }
    .image-post {
        width: 60px; /* Giảm kích thước hình ảnh */
        height: 60px;
    }
    .title-post {
        font-size: 14px; /* Giảm kích thước chữ tiêu đề */
    }
}

/* Điều chỉnh cho màn hình nhỏ hơn 56rem */
@media (max-width: 56rem) {
    .cards_item {
        width: 33.3333%; /* Chuyển từ hiển thị 3 cột sang hiển thị 2 cột */
    }
}

/* Điều chỉnh cho màn hình nhỏ hơn 768px (kích thước màn hình điện thoại) */
@media (max-width: 768px) {
    .cards_item {
        /* Thêm các điều chỉnh thích hợp với kích thước màn hình điện thoại */
        width: 100%; /* Chuyển về hiển thị 1 cột trên điện thoại */
    }
    .image-post {
        width: 40px; /* Giảm kích thước hình ảnh cho màn hình điện thoại */
        height: 40px;
    }
    .title-post {
        font-size: 12px; /* Giảm kích thước chữ tiêu đề cho màn hình điện thoại */
    }
}

/* Điều chỉnh cho màn hình nhỏ hơn 992px (kích thước màn hình máy tính bảng) */
@media (max-width: 992px) {
    /* Thêm các điều chỉnh thích hợp với kích thước màn hình máy tính bảng */
}
.card-post {
    background-color: white;
    border-radius: 0.25rem;
    box-shadow: 0 20px 40px -14px rgba(0, 0, 0, 0.25);
    display: flex;
    flex-direction: column;
    overflow: hidden;
}

.card_content {
    height: 3rem;
}
.card-date {
    height: 2rem;
}

.card_title {
    font-size: 1rem;
    font-weight: 700;
    /*letter-spacing: 1px;*/
    text-transform: capitalize;
    margin-top: 1rem;
    text-align: center;
    width: 290px;
}
.card_title.long-text {
    /* Các thuộc tính giới hạn đoạn văn bản */
    display: -webkit-box !important;
    -webkit-line-clamp: 3 !important;
    -webkit-box-orient: vertical !important;
    overflow: hidden !important;
}
.card_text {
    color: #ffffff;
    font-size: 0.875rem;
    line-height: 1.5;
    margin-bottom: 1.25rem;
    font-weight: 400;
}
.time-post {
    margin-top: 10px;
    margin-right: 1rem;
    text-align: right;
    color: #999;
    font-size: 16px;
}
.time-post1 {
    margin-top: 4px;
    margin-right: 4px;
    text-align: right;
    color: #999;
    font-size: 16px;
}

.hideContent {
    overflow: hidden;
    line-height: 1em;
    height: 2em;
}

.showContent {
    line-height: 1em;
    height: auto;
}
.label-post {
    font-family: "Times New Roman";
    display: block;
    font-weight: bold ;
    color: #333;
}
.title-news{
    color: black;
    font-size: 30px;
    font-weight: 700;
    margin: 2rem 4rem;
}
.textarea-posts {
    width: 100%;
    padding: 10px;
    /*height: 100px;*/
    font-size: 16px;
    border: 1px solid #ccc;
    border-radius: 4px;
    margin-top: 5px;
}
.err-class{
    color: red;
}
.title-other {
    margin-bottom: 0;
    border-top-right-radius: 10px;
    border-top-left-radius: 10px;
    background: darkgoldenrod;
    padding: 5px 20px;
    color: #fff;
    font-size: 20px;
    font-weight: 700;
}
.main-content {
    -webkit-box-shadow: 0 0 10px 0 rgba(0,0,0,.1);
    box-shadow: 0 0 10px 0 rgba(0,0,0,.1);
    border-radius: 10px;
    background: #fff;
    padding: 15px;
}
.main-news-other {
    -webkit-box-shadow: 0 0 10px 0 rgba(0,0,0,.1);
    margin-top: 30px;
    box-shadow: 0 0 10px 0 rgba(0,0,0,.1);
    border-radius: 10px;
}
.list-news-other {
    border-bottom-right-radius: 10px;
    border-bottom-left-radius: 10px;
    background: #fff;
    padding: 0 15px;
}
.image-post {
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    -webkit-box-align: center;
    -ms-flex-align: center;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100px;
    min-width: 80px;
    height: 80px;
    overflow: hidden;
}
.other-item .content {
    padding-left: 10px;
    width: calc(100% - 70px);
}
.title-post {
    -webkit-transition: all .4s ease-in-out;
    -o-transition: .4s ease-in-out all;
    -webkit-line-clamp: 2;
    -webkit-box-orient: vertical;
    display: -webkit-box;
    transition: all .4s ease-in-out;
    overflow: hidden;
    color: #333;
    font-size: 16px;
    font-weight: 500;
    line-height: 25px;
    margin-bottom: 0;
}
.imgDetail {
    vertical-align: middle;
    border-style: none;
    box-sizing: border-box;
    max-width: 100%;
    height: auto;
}

.pagination-container-thg {
    display: flex;
    justify-content: end;
    align-items: center;
    margin-top: 20px;
    margin-bottom: 20px;
}
.pagination-container-thg button {
    padding: 10px 20px;
    margin: 0;
    border: 1px solid #ccc;
    background-color: #fff;
    color: #333;
    cursor: pointer;
    transition: background-color 0.3s ease;
    font-size: 16px;
}

.pagination-container-thg button:hover {
    background-color: #f5f5f5;
}


.pagination-container-thg button[disabled] {
    cursor: not-allowed;
}

/* CSS cho nút chuyển trang hiện tại */
.pagination-container-thg button[style*="bold"] {
    font-weight: bold;
    background-color: antiquewhite;
    color: black;
    border-color: #00833e;
}

.pagination-container-thg button[style*="bold"]:hover {
    background-color: whitesmoke;
}