.input {
    width: 30px;
    height: 30px;
    color: black;
    font-weight: 600;
    outline: none;
    border-left: 0 !important;
    border-right: 0 !important;
    border: 1px solid #c4d0cb;


}
.plus,
.minus {
    width: 26px;
    height: 30px;
    color: black;
    font-weight: 600;
    border: 1px solid #c7d7ce;
}

.back-icon {
    width: 30px;
    height: 30px;
    display: inline-block;
}
.back-icon__row {
    height: 10px;
    width: 30px;
    display: flex;
}
.back-icon__elem {
    height: 8px;
    width: 8px;
    margin-right: 2px;
    margin-bottom: 2px;
    background: red;
    border-radius: 38%;
}