
/*carousel*/

.carousel-containers {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 20px;
}


.airport .airport-img .airport-contend{
    display: grid;
    grid-template-columns: repeat(2, 1fr);
}

@media (min-width: 1400px){
    .container, .container-lg, .container-md, .container-sm, .container-xl, .container-xxl {
        max-width: 1465px !important;
    }
}


.fa-solid fa-chevron-left,
.fa-solid fa-angle-right{
    background-color: #996060;
}